*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
.box{
    max-width: 500px;
    margin: 0 auto;
}
.box__item{
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wanna, .player_one, .player_two, .player_Three{
    color: #222;
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
}
.player_one, .player_two, .player_Three{
   display: none;
}
.startinput,.playerone_input, .playertwo_input, .playerThree_input{
    margin: 50px 0;
    padding: 42px 400px 42px 52px;
    border-radius:79px ;
    border: 1px solid #D9D9D9;
}
.playerone_input, .playertwo_input, .playerThree_input{
    display: none;
}
::placeholder{
    color: #D9D9D9;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
}
.startbutton, .playerone_button, .playertwo_button, .playerThree_button{
    color: #fff;
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 42px 80px;
    background: #7041D3;
    border-radius:79px ;
    border: 0;
    cursor: pointer;
}
.playerone_button, .playertwo_button, .playerThree_button{
    display: none;
}
.error, .playerone_error, .playertwo_error, .playerThree_error{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: rgba(255, 0, 0, 0.816);
    margin: 30px 0;
    padding:10px 20px ;
    display: none;
}
.nam, .nams{
    display: none;
}
